#navbar {
    width: 100%;
    color: white !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color:#000; 
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#dropdown-link:hover {  
    font-weight: bold;
}

#shop-link {
    margin-right: 5% !important;
}

#blog-link {
    margin-right: -30% !important;
}
