
#menu-toggle:checked + #menu {
    display: block;
  }

#blog-link {
    margin-right: 20px !important; 
}

#blog-link:hover {
    font-size: 17px;
}

#menu-link:hover {
    font-size: 17px;
}

#header {
    background-color: #08313A !important; 
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
}
 
#brand {
    font-size: 30px !important; 
}

#brand:hover {
    font-size:32px !important;
}

@media only screen and (min-width: 1025px){
    
    #dropdown {
        position: relative;
        display: inline-block;
    }
      
    #dropdown-content {

        left: 50% !important;
        right: auto !important;
        text-align: center !important;
        transform: translate(-50%, 0) !important;
        margin-top: 1px;
        
        display: none;
        position: absolute;
        background-color: #fff;
        width: 240px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1; 
    }
      
    #dropdown:hover #dropdown-content {
        display: block; 
    }
    
    #header {
        height: 8vh;
    }

}

@media only screen and (max-width: 1025px) {
    #dropdown-link {
        margin-left: 10px;
        color: #f2f2f2; 
        padding: 3px;
    }
     
  
}

#dropdown-link:hover {  
    font-weight: bold; 
}